# Cloudflare R2 Credentials
R2_ACCOUNT_ID="d098e896b8f7dc0403ad3a16f592dfe6"
R2_BUCKET_NAME="chf-media"
R2_ACCESS_KEY_ID="f95b6dce449f4bb721ce54aa3b2f4e2b"
R2_SECRET_ACCESS_KEY="401cb76e46f0f908fcd78b5b2fbd75e92a4bbc1d26adbffbb3c37ef14fcc2ca1"
R2_PUBLIC_URL="https://pub-ce8688bc6c654bcfb99716f7c9373bcd.r2.dev"

# Admin Panel Password
ADMIN_PASSWORD="admin@vijay2026"

# Database Directory (defaults to /app/data in Docker or ./data locally)
DATABASE_DIR="/app/data"

# Host Port (Default: 4050 to avoid clashing with other projects on 3000/3005)
HOST_PORT=4050
